.new-user-form {
  @extend .sign-in-form;
  margin-top: 15px;
  label {
    padding: 0px 15px;
  }
  input {
    margin-top: 5px;
  }
  button {
    @extend .sign-in-btn;
    height: 50px;
    margin-bottom: 15px;
  }
}