.App {
  background-color: rgb(106, 176, 113);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 700px;
  h1 {
    padding-top: 50px;
    font-weight: 200;
    color: #fffffffc;
  }
}
