.ratings {
    h2 {
    font-weight: 200;
    text-align: center;
    color: white;
    margin: 30px 0;
  }
  display: flex;
  flex-direction: column;
  align-items: center;

  .save-shot {
    @extend .take-shot-btn;
    margin-top: 15px;
    width: 140px;
  }
}

.ratings-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    height: 75px;
    width: 75px;
    border-radius: 100px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 200;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.great-shot {
  button {
    background-color: #c5f7c0;
  }
}

.ok-shot {
  button {
    background-color: #fff884;
    margin: 10px;
  }
}

.bad-shot {
  button {
    background-color: #ff8383;
    margin: 10px;
  }
}
