$primary-font: 'Roboto', sans-serif;
$white: #eee;
$green-accent: rgb(44, 138, 53);
$dark-green: #12670c85;
$masters-green: #076652;
$masters-yellow: #FEE715;
$graph-green: #84fc71;
$graph-yellow: #f2fc70;
$graph-red: #fc7770;