@import './components/App/App';
@import './components/Login/Login';
@import './components/NewUser/NewUser';
@import './components/Home/Home';
@import './components/Ratings/Ratings';
@import './components/Stats/Stats';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}